{{> header }}
    {{> navbar }}
    <div class="row">

        <div class="col-8">
            <h1>Capitan america</h1>
        </div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat enim perspiciatis excepturi omnis quidem dolorem eius facilis labore voluptates eaque quos accusantium voluptate, architecto atque totam nesciunt aspernatur quod. Doloribus!
        </p>

        <div class="col-2">
            <img src="assets/img/america.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer }}